html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(135Deg, #D6E9FD, #F0F2FA 65%);
}

img, button {
  -webkit-filter: drop-shadow(5px 5px 5px #2254);
  filter: drop-shadow(5px 5px 5px #2254);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}